<div class="pop-up" [class.pop-up-animated]="isOneAway">One away...</div>
<div class="pop-up" [class.pop-up-animated]="isCopied">Copied to clipboard</div>

<div id="app-game">
    <div id="creator">Made by Cavie and MJ014</div>

    <div id="game-window">
        <a [href]="playlistHref" target="_blank" id="playlist">
            <div id="playlist-logo"><img src="./youtube_logo.svg"></div>
            <div id="playlist-text">Today's<br>Playlist</div>
        </a>

        @for (doneRow of doneRows; track $index) {
        <div class="done-items-row" [class.done-items-row-open]="dropDownsOpened[$index]"
            [style.background-color]="doneRowColors[doneRow[0].cat_id].color">
            <div class="cat-title-row" (click)="dropDownsOpened[$index] = !dropDownsOpened[$index]">
                <div class="cat-title">
                    {{getCatTitle(doneRow[0].cat_id)}}
                    <span class="material-symbols-outlined">{{dropDownsOpened[$index] ?
                        'arrow_drop_up' : 'arrow_drop_down'}}</span>
                </div>
                <div class="cat-items">
                    @if (dropDownsOpened[$index]) {
                    <div class="done-items-list">
                        @for (doneItem of doneRow; track doneItem.id) {
                            <span>{{doneItem.title}}</span><br>
                        }
                    </div>
                    }
                </div>
            </div>
        </div>
        }

        @for (row of rows; track $index) {
        <div class="item-row">
            @for (item of row; track item.id) {
            <div class="item" (click)="onItemClicked(item.id)" (mouseover)="hovers = item.title" (contextmenu)="onItemRightClick()" [class.active-item]="isActive(item.id)">
                @if (enableThumbnails.checked) {
                    <img [src]="'https://i.ytimg.com/vi/' + item.tn + '/mqdefault.jpg'" draggable="false">
                }
                <span [style.font-size]="getFontSize(item.id) + 'px'">{{item.title}}</span>
            </div>
            }
        </div>
        }

        <div id="buttons">
            <div id="top-buttons">
                @if (!beaten) {
                    <div (click)="shuffle()"><span>Shuffle</span></div>
                    <div (click)="submit()" id="submit"><span>Submit</span></div>
                    <div (click)="deselect()"><span>Deselect</span></div>
                }
                @if (beaten) {
                    <div (click)="share()" id="submit"><span>Share</span></div>
                }
            </div>

            <div id="bottom-checkboxes" [style.display]="beaten ? 'none' : 'flex'">
                    <div>
                        <input #enableThumbnails (change)="thumbnailsEnabled = enableThumbnails.checked;" type="checkbox" name="enable-thumbnails"
                            id="enable-thumbnails" />
                        <label for="enable-thumbnails">Enable thumbnails</label>
                    </div>

                    <div>
                        <input #wikimode (change)="wikiModeEnabled = wikimode.checked" type="checkbox" name="enable-wiki-mode"
                            id="enable-wiki-mode" />
                        <label for="enable-wiki-mode">Wiki Mode <span style="font-size: 15px;">(RMB)</span></label>
                    </div>
            </div>

            <div id="lives">
                    @for (i of [].constructor(Math.max(0, lives)); track $index) {
                        <img src="WikiIcon.png">
                    }
            </div>
        </div>
    </div>
</div>