#app-game {
    display: flex;
    justify-content: center;
    width: 100%;
}

.pop-up {
    position: absolute;
    z-index: 10;
    top: 10px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    display: none;

    background-color: #000000bf;
    color: white;
    border-radius: 15px;
    padding: 15px;
    white-space: nowrap;

    width: min-content;
}

.pop-up-animated {
    animation: pop-up forwards 2s;
    display: block;
}

#game-window {
    .item-row {
        display: flex;
        width: 850px;

        .item {
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;
            margin: 5px;

            background-color: #ffffff;
            border-radius: 20px;

            padding: 10px;
            width: 25%;
            aspect-ratio: 16/9;

            span {
                display: inline-block;
                text-align: center;
                z-index: 5;

                color: black;
                background-color: white;
                border-radius: 10px;
                paint-order: stroke fill;
                // font-size: 16px;
                font-weight: bold;

                padding: 5px;
            }

            img {
                // filter: blur(1px);
                position: absolute;
                width: calc(100%);
                height: calc(100%);
                opacity: 16%;
                border-radius: 20px;
            }
        }

        .active-item {
            background-color: #000000;

            span {
                color: white;
                background-color: black;
            }

            img {
                opacity: 20%;
            }
        }
    }

    .done-items-row {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px;
        border-radius: 20px;

        padding: 10px;
        height: 135px;
        width: 840;

        .cat-title-row {
            .cat-title {
                text-align: center;
                font-weight: bold;
            }
        }
    }

    .done-items-row-open {
        height: 270px;

        .cat-title-row {
            .cat-items {
                height: 135px;

                .done-items-list {
                    text-align: center;
                    padding: 15px;
                }
            }
        }
    }

    #buttons {
        #top-buttons {
            display: flex;
            justify-content: center;
            margin: 20px 0 10px 0;

            div {
                display: flex;
                justify-content: center;
                align-items: center;

                background-color: white;
                margin: 5px 15px;
                cursor: pointer;
                border-radius: 100px;
                padding: 5px;

                height: 50px;
                aspect-ratio: 8/3;

                span { font-size: 18px; }
            }

            #submit {
                margin: 0 15px;
                height: 60px;

                span { font-size: 23px; }
            }
        }

        #bottom-checkboxes {
            display: flex;
            justify-content: center;

            div {
                display: flex;
                margin: 0 10px;

                label {
                    height: min-content;
                    vertical-align: middle;
                    color: white;
                }

                input {
                    margin-top: 7px;
                    height: min-content;
                    display: block;
                }
            }
        }

        #lives {
            margin-top: 20px;
            display: flex;
            justify-content: center;

            img {
                margin: 0 5px;
                width: 70px;
            }
        }
    }
}

#playlist {
    display: flex;
    text-decoration: none !important;
    position: absolute;
    right: 0;
    margin: 5px;

    #playlist-text {
        color: white;
        font-size: 12px;
        padding: 5px;
    }

    #playlist-logo {
        padding-top: 2px;

        img {
            height: 50px;
        }
    }
}

#creator {
    position: absolute;
    bottom: 5px;
    left: 5px;
    color: white;
    opacity: 0.5;
    font-size: 12px;
}

.material-symbols-outlined {
    line-height: unset;
  }

@keyframes pop-up {
    0% {
        display: block;
        opacity: 0;
    }

    20%,
    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

@media only screen and (max-width: 1080px) {
    .item-row, .done-items-row, #game-window {
        width: 600px !important;
    }

    #playlist {
        right: 0;
    }

    #game-window {
        margin-top: 70px;
    }
}

@media only screen and (max-width: 850px) {
    .item-row, .done-items-row, #game-window {
        width: 400px !important;
    }
}